@model WebProject.Models.Post;
@using WebProject.Models;
@using Microsoft.AspNetCore.Identity;
@using WebProject.Models.Helper;
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;
@{
    ViewData["Title"] = "Post Detail";
    ViewData["Style"] = "Post";
    ViewData["Script"] = "Post";
}
<div class="container">
    <div class="owner">
        <div class="profile"></div>
        <h2>กิจกรรมของ<a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.Owner.Id">@Model.Owner.Name</a></h2>
    </div>
    <div class="content-container">
        <div class="content">
            <h1>@Model.Title</h1>
            <p>@Model.Description</p>
            <ul class="tag">
                @foreach (var pt in Model.PostTags){
                    <li>@pt.Tag.Name</li>
                }
            </ul>
            <p>
                เพศ :
                @string.Join(",", Model.RequiredGenders.Select(g =>
                         g == Gender.Male ? "ชาย" :
                         g == Gender.Female ? "หญิง" :
                         g == Gender.LGTV ? "อื่นๆ" : ""))
                | ชั้นปี : @string.Join(",", Model.Years)
                | @Model.EndDate.ToString("dd MMMM yyyy")</p>
             </p>
            <ul class="detail">
                <li class="participant-amount">จำนวนผู้เข้าร่วม @Model.ParticipantPosts.Count() คน</li>
                <li>เหลือระยะเวลาการสมัครอีก 3 วัน</li>
            </ul>
            @if (Model.ParticipantPosts.Count < Model.ParticipantAmount)
            {
                if (signInManager.IsSignedIn(User)){
                    var user = await userManager.GetUserAsync(User);
                    if (user != null && Model.ParticipantPosts.Any(pp => pp.UserId == user.Id)){
                        <a class="cancle" asp-controller="Post" asp-action="Cancle" asp-route-postid="@Model.Id">ยกเลิกการเข้าร่วม</a>
                    }else{
                        if (user != null && user.Id == Model.OwnerId){
                            <a class="close" asp-controller="Post" asp-action="Close" asp-route-postid="@Model.Id">ปิดกิจกรรม</a>
                        }else{
                            <a class="join" asp-controller="Post" asp-action="Join" asp-route-postid="@Model.Id">+ เข้าร่วมกิจกรรม</a>
                        }
                    }
                }
            }else{
                <a class="full">เต็ม</a>
            }
        </div>
    </div>
    @if (Model.ParticipantPosts?.Any() == true)
    {
        <div class="participant">
            <h3>ผู้เข้าร่วม</h3>
            <ol>
                @foreach (var pp in Model.ParticipantPosts)
                {
                    <li>@pp.User.Name</li>
                }
            </ol>
        </div>
    }
    <div class="comment-container">
        <h2>แสดงความคิดเห็น</h2>
        <div class="comments">
           @foreach (var comment in Model.Comments){
                <div class="comment">
                    <h4>@comment.User.Name</h4>
                    <p>@comment.Description</p>
                </div>
           }
        </div>
        <form asp-controller="Post" asp-action="AddComment" method="post">
            <input type="hidden" name="PostId" value="@Model.Id" />
            <input type="text" name="Description" id="Description" />
            <button type="submit">ส่ง</button>
        </form>
    </div>
</div>