@model WebProject.Models.User

@{
    ViewData["Title"] = "Profile Page";
    ViewData["Style"] = "Profile";
    ViewData["Script"] = "Profile";
}

<div class="body-container">
    <div class="container">
        <div class="profile-img">
            <img id="profilePreview" src="@Model.ImgURL" alt="Profile Image" width="150">
            <input type="file" id="profileInput" accept="image/*" hidden>
            <button class="btn-edit" onclick="document.getElementById('profileInput').click()">เปลี่ยนโปรไฟล์</button>
        </div>
        <div class="owner">
            <div class="small-box">
                <h2>โปรไฟล์ของ @Model.Name</h2>
            </div>
            <div class="btn-box">
                <button onclick="openPopup()">แก้ไขข้อมูลส่วนตัว</button>
                <button onclick="openEditPassPopup()">แก้ไขรหัสผ่าน</button>
            </div>
        </div>
        <div class="content">
            <h2>ข้อมูลส่วนตัว</h2>
            <ul>
                <li>
                    <div class="info">
                        <div class="info-icon">
                            <!-- Icon for phone -->
                        </div>
                        <span id="phone">@Model.PhoneNumber</span>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <div class="info-icon">
                            <!-- Icon for email -->
                        </div>
                        <span id="email">@Model.Email</span>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <div class="info-icon">
                            <!-- Icon for gender -->
                        </div>
                        <span id="gender">@Model.Gender</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div id="popup" class="popup" style="display: none;">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>แก้ไขข้อมูลส่วนตัว</h2>

        <form method="post" asp-action="EditProfile" asp-controller="Account">
            <label asp-for="Name" for="Name">ชื่อที่แสดง</label>
            <input type="text" id="name" name="Name" value="@Model.Name" required>

            <label asp-for="Email" for="Email">อีเมล</label>
            <input type="email" id="Email" name="Email" value="@Model.Email" required>

            <label asp-for="PhoneNumber" for="PhoneNumber">เบอร์โทรศัพท์</label>
            <input type="tel" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" required>

            <button type="submit" class="btn-edit">บันทึกข้อมูล</button>
        </form>
    </div>
</div>

