@model WebProject.Models.User

@{
    ViewData["Title"] = "Profile Page";
    ViewData["Style"] = "Profile";
    ViewData["Script"] = "Profile";
}

<div class="body-container">
    <div class="container">
        <div class="profile-img">
            <img id="profilePreview" src="@Model.ImgURL" alt="Profile Image" width="150">
            <input type="file" id="profileInput" accept="image/*" hidden>
            <button class="btn-box" onclick="document.getElementById('profileInput').click()">เปลี่ยนโปรไฟล์</button>
        </div>
        <div class="owner">
            <div class="small-box">
                <h2>โปรไฟล์ของ @Model.Name</h2>
            </div>
            <div class="btn-edit">
                <button class="btn-box" onclick="openPopup()">แก้ไขข้อมูลส่วนตัว</button>
            </div>
            <div class="content">
                <h2>ข้อมูลส่วนตัว</h2>
                <ul>
                    <li>
                        <div class="info">
                            <div class="info-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                            </div>
                            <span id="phone">@Model.PhoneNumber</span>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                            <div class="info-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M45,7H3a3,3,0,0,0-3,3V38a3,3,0,0,0,3,3H45a3,3,0,0,0,3-3V10A3,3,0,0,0,45,7Zm-.64,2L24,24.74,3.64,9ZM2,37.59V10.26L17.41,22.17ZM3.41,39,19,23.41l4.38,3.39a1,1,0,0,0,1.22,0L29,23.41,44.59,39ZM46,37.59,30.59,22.17,46,10.26Z"></path></svg>
                            </div>
                            <span id="email">@Model.Email</span>
                        </div>
                    </li>
                    <li>
                    <li>
                        <div class="info">
                            <div class="info-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            </div>
                            <span id="year">ชั้นปีที่ @Model.Year</span>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                            <div class="info-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1.707L3.5 2.793l.646-.647a.5.5 0 1 1 .708.708l-.647.646.822.822A3.99 3.99 0 0 1 8 3c1.18 0 2.239.51 2.971 1.322L14.293 1H11.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-3.45 3.45A4 4 0 0 1 8.5 10.97V13H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V14H6a.5.5 0 0 1 0-1h1.5v-2.03a4 4 0 0 1-3.05-5.814l-.95-.949-.646.647a.5.5 0 1 1-.708-.708l.647-.646L1 1.707V3.5a.5.5 0 0 1-1 0v-3zm5.49 4.856a3 3 0 1 0 5.02 3.288 3 3 0 0 0-5.02-3.288z"></path></svg>
                            </div>
                            <span id="gender">@Model.Gender</span>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>


<div id="popup" class="popup" style="display: none;">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>แก้ไขข้อมูลส่วนตัว</h2>

        <form method="post" asp-action="EditProfile" asp-controller="Account">
            <label asp-for="Name" for="Name">ชื่อที่แสดง</label>
            <input type="text" id="name" name="Name" value="@Model.Name" required>

            <label asp-for="Email" for="Email">อีเมล</label>
            <input type="email" id="Email" name="Email" value="@Model.Email" required>

            <label asp-for="PhoneNumber" for="PhoneNumber">เบอร์โทรศัพท์</label>
            <input type="tel" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" required>

            <button type="submit" class="btn-edit">บันทึกข้อมูล</button>
        </form>
    </div>
</div>

